<div class="container-fluid">
    {{application-menu}}

    <div class="row">
        <div class="col-xs-offset-4 col-sm-offset-3 col-md-offset-2 col-xs-8 col-sm-9 col-md-10 no-padding">
            {{application-navbar devices=decicesNames}}

            {{#if veil.visible}}
                {{application-veil}}
            {{/if}}

            <section class="row padding">
                {{#unless settings.workspace}}
                    <div class="icon-container-big no-workspace" {{action 'selectWorkspace'}}>
                        <span class="glyphicon glyphicon-inbox"></span>
                    </div>

                    <h1 class="text-center" {{action 'selectWorkspace'}}>Abrir biblioteca</h1>

                    <blockquote class="blockquote-reverse">
                        <p>{{quote.text}}</p>
                        <footer>{{quote.author}}</footer>
                    </blockquote>
                {{/unless}}

                {{outlet}}
            </section>
        </div>
    </div>
</div>
